name: Todo App tests

on:
    push:
        branches: [main, master, develop]

jobs:
    tests:
        runs-on: ubuntu-latest


        steps:
            - uses: actions/checkout@v4


            - uses: actions/setup-python@v5
            with:
                python-version: "3.12"