name: Todo App tests

on:
    push:
        branches: [main, master, develop]

jobs:
    tests:
        runs-on: ubuntu-latest


        steps:
            - uses: actions/checkout@v4


            - uses: actions/setup-python@v5
              with:
                python-version: "3.11"

            - name: install dependencies
              run: |
                pip install pytest playwright
                pip install pytest-playwright
                playwright install chromium

            - name: Run unit tests
              run: pytest learning_pytest/ --ignore=learning_pytest/todo_list/ -v --html=reports/unit-tests.html --self-contained-html
            - name: Run e2e tests
              run: pytest learning_pytest/todo_list/test_todo_list.py -v --html=reports/e2e-tests.html --self-contained-html

            - name: Upload test reports
              uses: action/upload-artifact@v3
              if: always()
              # Upload reports even if tests fail
              with:
                name: test-reports
                path: reports/



